.noto-sans-CJK-TC {
    font-family: 'Noto Sans TC', sans-serif !important;
}
.shrikhand{
    font-family: 'Shrikhand', cursive;
}

// font-weight
.fw-medium {
    font-weight: 500;
} // tanuki
.fw-black {
    font-weight: 900;
} // tanuki
