<footer class="bg-light">
    <div class="container d-none d-lg-flex align-items-center justify-content-between  py-52">
        <div class="text-dark">
            <h4>ALPHABOX+</h4>
            <p>Copyright © 2023 Hexschool.</p>
        </div>
        <span class="material-icons text-dark fs-80">
            emergency
            </span>
        <div class="d-lg-flex gap-24">
            <a href="/Alphabox/pages/about.html" class="text-dark">關於我們</a>
            <a href="#" class="text-dark">產品資訊</a>
            <a href="/Alphabox/pages/faq.html" class="text-dark">常見問題</a>
            <a href="#" class="text-dark">隱私政策</a>
        </div>
    </div>
    <!-- mobile -->
    <div class="container d-lg-none py-40">
        <h4 class="text-dark mb-8">ALPHABOX+</h4>
        <span class="material-icons text-dark fs-80 mb-8">
            emergency
            </span>
        <div class="d-lg-flex gap-24">
            <a href="/Alphabox/pages/about.html" class="text-dark d-block mb-8">關於我們</a>
            <a href="#" class="text-dark d-block mb-8">產品資訊</a>
            <a href="/Alphabox/pages/faq.html" class="text-dark d-block mb-8">常見問題</a>
            <a href="#" class="text-dark d-block mb-8">隱私政策</a>
        </div>
        <p class="text-dark">Copyright © 2023 Hexschool.</p>
    </div>
</footer>