<nav class="bg-primary d-flex">
    <div class="container d-flex justify-content-between align-items-center py-16">
        <a href="/Alphabox/pages/index.html"><i class="text-light fs-4">ALPHABOX+</i></a>
        <!-- pc -->
        <div class="d-lg-flex gap-40  d-none ">
            <a href="#" class="text-light d-block">產品</a>
            <a href="/Alphabox/pages/about.html" class="text-light d-block">關於我們</a>
            <a href="#" class="text-light d-block">最新消息</a>
            <a href="/Alphabox/pages/faq.html" class="text-light d-block noto-sans-CJK-TC">FAQ</a>
            <a href="#" class="text-light d-block">聯絡我們</a>
        </div>
        <div class="d-lg-flex align-items-center gap-24  d-none ">
            <a href="#" class="text-light">註冊</a>
            <a href="#" class="text-light">登入</a>
            <a href="#" class="px-16 py-8 border-radius-sm btn btn-dark d-flex align-items-center"><span
              class="material-symbols-outlined">
              point_scan
          </span><p>訂閱</p></a>
        </div>
        <!-- mobile hamburgur -->
        <div class="hamburgur d-lg-none">
            <a class="d-flex align-items-center px-12 py-1 h-100 text-light" data-bs-toggle="collapse" href="#hambur" role="button" aria-expanded="false" aria-controls="collapseExample"><span class="material-icons">
            menu
            </span></a>
        </div>
    </div>
</nav>
    <!-- 選單內容 -->
    <div class="d-lg-none collapse py-32 gradient" id="hambur">
        <ul class="container list-unstyled py-4 d-flex flex-column align-items-center">
          <li class="mb-20"><a href="#" class="text-light d-block">產品</a></li>
          <li class="mb-20"><a href="#" class="text-light d-block">關於我們</a></li>
          <li class="mb-20"><a href="#" class="text-light d-block">最新消息</a></li>
          <li class="mb-20"><a href="/Alphabox/pages/faq.html" class="text-light d-block noto-sans-CJK-TC">FAQ</a></li>
          <li class="mb-20"><a href="#" class="text-light d-block">聯絡我們</a></li>
          <li class="mb-20">
            <a href="#" class="text-light">登入</a>
          </li>
          <li class="mb-20">
            <a href="#" class="text-light">註冊</a>
          </li>
          <li>
            <a href="#" class="bg-light text-dark px-16 py-8 border-radius-sm"><img src="/assets/images/point_scan.svg" alt="scan icon btn">訂閱</a>
          </li>
          
        </ul>
      </div>
