.btn.btn-light {
    font-weight: 500;
    &:hover {
        color: $white;
        background: $primary !important;
        border: none;
    }
}
.btn.btn-dark{
    font-weight: 500;
    color: $black;
    background: $white;
    border: none;
    &:hover{
        color: $white;
        background: $black !important;
    }
}