// *{
//   outline: 1px solid red;
// }
.radial{
  background: radial-gradient(50% 50.00% at 50% 50.00%, #000 0%, #28085C 100%);
}
.dot-s{
  width: 8px;
  height:8px;
  border-radius: 100%;
}
.dot-m{
  width:12px;
  height: 12px;
  border-radius: 100%;
}
.dot-l{
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
//使用分享
.swiper-slide{
  height: 416px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 207px;
  object-fit: cover;
}
.watermark{
  color: rgba(255, 255, 255, 0.04);
  text-align: center;
  font-family: Shrikhand;
  font-size: 400px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 600px */
  position: absolute;
  bottom:-250px;
}
// 聯絡我們
.ls-48{
  letter-spacing: 48px;
}
.line{
  width:124px;
  height:12px;
  border-radius: 50px;
}
input::-webkit-input-placeholder{
  color: $warning;
}
input{
  width: 100%;
}
form button{
  float: right;
}
// 類型
.fs-md-32 {
  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.fs-m {
  font-size: 128px;
}

.fs-md-l {
  @media (min-width: 768px) {
    font-size: 400px;
  }
}
.mb-md-20 {
  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.mb-md-80 {
  @media (min-width: 768px) {
    margin-bottom: 80px;
  }
}
.card{
  padding: 24px 12px;
  background-color: rgba(0,0,0,0);
  background-image: url(/assets/images/home/diane_vertical.png);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  transition: all 1s;
  @media (min-width: 768px) {
    padding: 24px 40px 56px;
    background-color: rgba(0,0,0,0.5);
  }
  &:hover {
    background-color: rgba(0,0,0,0.5);
  }
}
.card-1 {
  background-image: url(/assets/images/home/diane_vertical.png);
}
.card-2 {
  background-image: url(/assets/images/home/felix_vertical.png);
}
.card-3 {
  background-image: url(/assets/images/home/karina_verticalgle.png);
}
.card-4 {
  background-image: url(/assets/images/home/vito_vertical.png);
}
