// *{
//   outline: 1px solid red;
// }
// setting
.ls-1-6{
  letter-spacing: 1.6px;
}
.ls-4-8{
  letter-spacing: 4.8px;
}
.ls-16{
  letter-spacing: 16px;
}
.ls-20{
  letter-spacing: 20px;
}
.ls-24{
  letter-spacing: 24px;
}
.ls-26{
  letter-spacing: 26px;
}
.ls-48{
  letter-spacing: 48px;
}
.ls-80{
  letter-spacing: 80px;
}
.pb-130{
  padding-bottom: 130px;
}
.pb-150{
  padding-bottom: 150px;
}
.radialToDark{
  background: radial-gradient(50% 50.00% at 50% 50.00%, #000 0%, #28085C 100%);
}
.radialToLight{
  background: radial-gradient(50% 50.00% at 50% 50.00%, #28085C 0%, #000 100%);
}
.linearToDark{
  background: linear-gradient(90deg, #7000FF 0%, #11002D 100%);
  height: 40px;
}
.linearToLight{
  background: linear-gradient(90deg, #11002D 0%, #7000FF 100%);
  height: 40px;
}
.dot-s{
  width: 8px;
  height:8px;
  border-radius: 100%;
}
.dot-m{
  width:12px;
  height: 12px;
  border-radius: 100%;
}
.dot-l{
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
// header
header{
  background-image: url('/assets/images/home/home_background.png');
  background-repeat: no-repeat;
}
.pale{
  color: #AD93CF;
}
//旋轉動畫
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: rotateAnimation 10s linear infinite; /* 10s 是動畫完成一次旋轉的時間*/
}
.icon-circle{
  @media(max-width: 765px){
    width:80%;
  }
}
.product{
  a img{
    width:100%;
  }
  a h4{
    font-size: 32px;
    top:16px;
    left:50%;
    transform: translate(-50%, 0%);
    z-index:1;
  }
  a img:hover{
    box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.80);
  }
}
@media (max-width: 992px) {
  .tatooM {
    display: none;
  }
}
//介紹
.intro{
  background-image: url('/assets/images/home/carousel_background.png');
  background-size: 50%;
  background-repeat: no-repeat;
  @media (max-width: 1440px) {
    background-size: 100%;
  }
}
.swiperIntro {
  overflow-x: hidden;
}

.alphabox {
  background-image: url('/assets/images/home/carousel.png');
  background-size: cover;
  background-position: center;
  padding: 16px;
  @media (min-width: 768px) {
    height: 560px;
    padding-right: 40px;
  }
  
  &-title {
    letter-spacing: 24px;
    @media (min-width: 768px) {
      letter-spacing: 32px;
      margin-right: -32px;
    }
  }
}
.rotate {
  rotate: 180deg;
}

// 箭頭
.swiper-button-next, .swiper-button-prev {
  color: #fff;
  position: initial;
  margin-top: 0;
  width: auto;
  height: auto;
  &::after {
    content: '';
  }
}

//最新消息
.circle{
  color: $light;
  position: absolute;
  top:-54px;

}
//使用分享
.mySwiper {
  position: relative;
  overflow: hidden;
}
.swiper{
  overflow: visible;
  .swiper-slide img {
    display: block;
    width: 100%;
    max-height: 207px;
    object-fit: cover;
  }
  .swiper-slide{
    height: 416px;
  }
}
.swiper-horizontal > .swiper-scrollbar {
  width: 66%;
  left: 0;
  bottom: var(--swiper-scrollbar-bottom,-48px);
  color: $light;
  p{
    right:-10%;
  }
}
.swiper-scrollbar-drag{background: $light;}

.watermark{
  color: rgba(255, 255, 255, 0.04);
  text-align: center;
  font-family: Shrikhand;
  font-size: 400px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 600px */
  position: absolute;
  bottom:-250px;
}
// 聯絡我們
.line{
  width:124px;
  height:12px;
  border-radius: 50px;
}
input::-webkit-input-placeholder{
  color: $warning;
  text-indent: 12px;
}
input{
  width: 100%;
}
form button{
  float: right;
}
// 類型
.fs-md-32 {
  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.fs-m {
  font-size: 128px;
}

.fs-md-l {
  @media (min-width: 768px) {
    font-size: 400px;
  }
}
.mb-md-20 {
  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.mb-md-80 {
  @media (min-width: 768px) {
    margin-bottom: 80px;
  }
}
.card {
  position: relative; 
  padding: 24px 12px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  transition: all 1s;
  @media (min-width: 768px) {
    padding: 24px 40px 56px;
    background-color: rgba(0, 0, 0, 0);
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    transition: opacity 1s; 
    pointer-events: none;
  }
  &:hover:before {
    opacity: 0; 
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.card h4, .card h5, .card p, .card svg{
  position: relative;
  z-index: 1;
}

.card-1 {
  background-image: url(/assets/images/home/diane_vertical.png);
}
.card-2 {
  background-image: url(/assets/images/home/felix_vertical.png);
}
.card-3 {
  background-image: url(/assets/images/home/karina_verticalgle.png);
}
.card-4 {
  background-image: url(/assets/images/home/vito_vertical.png);
}
