<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <%- include('./layout/link'); -%>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <div class="bg-danger text-warning noto-sans-CJK-TC">
      <div class="container pb-80">
        <h2 class="fw-black fs-3 pb-32 mb-32" style="letter-spacing: 51px;">FAQ</h2>
        <div class="border-dotted row border-top border-white border-2 pt-40 pb-40">
          <!-- list-group -->
          <div class="col-md-4">
            <div class="fw-medium list-group list-group-flush">
              <a href="#" class="list-group-item list-group-item-action bg-danger border-0 p-0 mb-16" aria-current="true">
                ALPHABOX+ 使用問題
              </a>
              <a href="#" class="list-group-item list-group-item-action bg-danger border-0 p-0 mb-16">訂購與運送</a>
              <a href="#" class="list-group-item list-group-item-action bg-danger border-0 p-0 mb-16">產品保養與維修</a>
            </div>
          </div>
          <div class="col-md-8">手風琴</div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>