<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <%- include('./layout/link'); -%>
  </head>
  <body>
    <%- include('./layout/nav'); -%>

  
    <!-- 聯絡我們 -->
    <div class="bg-warning py-144">
      <div class="container d-md-flex justify-content-between px-0 my-0 mx-auto">
        <div class="col-md-5">
          <h3 class="ls-48 mb-20">聯絡我們</h3>
          <div class="d-flex gap-8 mb-54">
            <div class="dot bg-light"></div>
            <div class="line bg-light"></div>
          </div>
          <p class="mb-4">讓科技成為您的最佳夥伴</p>
          <p>立即體驗神奇功能並享限時優惠！</p>
        </div>
        <div class="col-md-7 mt-24 mt-md-0">
          <span class="material-icons text-light fs-80 mb-16">
            emergency
            </span>
          <form>
            <input type="email" class="d-block noto-sans-CJK-TC mb-16 py-8" placeholder="EMAIL">
            <input type="text" class="d-block noto-sans-CJK-TC text-warning mb-16 pt-8 pb-82" placeholder="COMMENTS">
            <button type="button" class="col-md-4 col-12 bg-success text-light"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <mask id="mask0_464_3402" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_464_3402)">
                <path d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z" fill="white"/>
              </g>
            </svg>送出</button>
          </form>
        </div>
      </div>
    </div>
    <!-- 類型 -->
    <ol class="list-unstyled d-flex flex-wrap m-0">
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-1 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">1</span>
            Diane
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">知識型</h5>
              <p class="mb-0">學術領導/知識分享/智能問答</p>
            </div>
            <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-2 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">2</span>
            Vito
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">情感型</h5>
              <p class="mb-0">情感識別/心情分析/心靈支持</p>
            </div>
            <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-3 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">3</span>
            Vito
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">情感型</h5>
              <p class="mb-0">情感識別/心情分析/心靈支持</p>
            </div>
            <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-4 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">4</span>
            Vito
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">情感型</h5>
              <p class="mb-0">情感識別/心情分析/心靈支持</p>
            </div>
            <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
          </div>
        </a>
      </li>
    </ol>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
