<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <%- include('./layout/link'); -%>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <!-- header --> 
    <header>
      <div class="mx-80 pb-20 pt-60">
        <div>
          <div class="d-lg-flex justify-content-end">
            <p class="col-lg-4 border-top noto-sans-CJK-TC ls-1-6 pb-8">ALPHABOX+ STUDIO</p>
          </div>
        </div>
        <div class="overflow-hidden d-flex justify-content-center">
          <img src="/assets/images/home/circle.png" alt="icon circle" class="col-lg-2 rotate icon-circle">
        </div>
        <div class="d-lg-flex justify-content-between pb-56 d-none">
        <p class="border-bottom noto-sans-CJK-TC pb-8">最新消息！新版本 v15.4 釋出，搶先體驗！</p>
        <p class="text pale noto-sans-CJK-TC ls-1-6">Copyright © 2023 Hexschool.</p>
      </div>
      <!-- lg -->
      <div class="d-flex flex-column align-items-center d-lg-none my-32">
        <h4 class="ls-16 fs-6">ALPHABOX+</h4>
        <p class="ls-4-8 fs-6">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
      </div>
       <!-- xl -->
       <div class="d-lg-flex flex-column align-items-center d-xxl-none d-none my-32">
        <div class="position-absolute d-lg-flex flex-column align-items-center d-none">
        <h4 class="ls-26 fs-5">ALPHABOX+</h4>
        <p class="ls-4-8 fs-6">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
      </div>
      </div>
      <!-- xxl -->
      <div class="d-xxl-flex flex-column align-items-center d-none">
      <div class="position-absolute d-lg-flex flex-column align-items-center d-none">
        <h4 class="ls-80 fs-4">ALPHABOX+</h4>
        <p class="ls-16 fs-6">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
      </div>
    </div>
   

    <!-- product -->
      <div class="product d-flex flex-column flex-lg-row justify-content-between align-items-end gap-24">
        <div class="position-relative">
        <a href="#">
          <img src="/assets/images/home/diane.png" alt="Diane" class="d-lg-flex d-none">
          <img src="/assets/images/home/diane_square1.png" alt="Diane" class="d-lg-none">
          <h4 class="text-light position-absolute">Diane</h4>
        </a>
      </div>
      <div class="position-relative">
        <a href="#">
          <img src="/assets/images/home/felix.png" alt="Felix" class="d-lg-flex d-none">
          <img src="/assets/images/home/felix_square1.png" alt="Felix" class="d-lg-none">
          <h4 class="text-light position-absolute">Felix</h4>
        </a>
        </div>
        <div class="position-relative">
        <a href="#">
          <img src="/assets/images/home/karina.png" alt="Karina" class="d-lg-flex d-none">
          <img src="/assets/images/home/karina_square1.png" alt="Karina" class="d-lg-none">
          <h4 class="text-light position-absolute">Karina</h4>
        </a>
      </div>
      <div class="position-relative">
        <a href="#">
          <img src="/assets/images/home/vito.png" alt="Vito" class="d-lg-flex d-none">
          <img src="/assets/images/home/vito_square1.png" alt="Vito" class="d-lg-none">
          <h4 class="text-light position-absolute">Vito</h4>
        </a>
      </div>
      </div>
      
      </div>
      
    </header>
    <!-- 介紹 -->
    <div class="intro radialToLight py-52">
      <div class="mx-lg-80 mx-20">
        <div class="linearToDark"></div>
      <h3 class="fs-4 fs-lg-3 ls-16 ls-lg-48 noto-sans-CJK-TC mt-8 mb-12">什麼是</h3>
      <h3 class="fs-4 fs-lg-3 ls-16 ls-lg-48 noto-sans-CJK-TC mb-16">ALPHABOX+</h3>
      </div>
      <div class="border-top"></div>
      <div class="mx-80">
    <!-- swiper slides -->
     <div class="container-fluid py-32">
      <div class="row align-items-center justify-content-xl--between justify-content-center g-0">
        <div class="col-1 d-none d-xl-flex">
          <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
              <mask id="mask0_303_5647" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48">
                <rect width="180" height="48" fill="#28085C"/>
              </mask>
              <g mask="url(#mask0_303_5647)">
                <path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="white"/>
              </g>
            </svg>
          </div>
        </div>
        <div class="col-md-9 mt-3">
          <div class="swiperIntro container">
            <div class="swiper-wrapper mx-auto">
              <div class="swiper-slide">
                <div class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                  <div class="alphabox-intro">
                    <h3 class="lh-base text-md-end">
                      <span class="fs-1">01</span><br>
                      <span class="alphabox-title fs-4 mb-16">立體投影技術</span>
                    </h3>
                    <p class="mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                  <div class="alphabox-intro">
                    <h3 class="lh-base text-md-end">
                      <span class="fs-1">01</span><br>
                      <span class="alphabox-title fs-4 mb-16">立體投影技術</span>
                    </h3>
                    <p class="mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                  <div class="alphabox-intro">
                    <h3 class="lh-base text-md-end">
                      <span class="fs-1">01</span><br>
                      <span class="alphabox-title fs-4 mb-16">立體投影技術</span>
                    </h3>
                    <p class="mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 d-none d-xl-flex">
          <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
              <mask id="mask0_250_5034" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48">
                <rect width="180" height="48" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_250_5034)">
                <path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="white"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
      </div>
      <div class="linearToLight mb-8 mx-lg-80 mx-20"></div>
     </div>
    <!-- 最新消息 -->
    <div class="radialToLight pt-160">
      <div class="container pb-130">
      <h3 class="ls-48 mb-16 headings-font-weight mb-40">最新消息</h3>
      <div class="border-top py-40 px-16">
        <div class="d-flex gap-16 mb-8">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <mask id="mask0_233_4964" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
            <rect width="24" height="24" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_233_4964)">
            <path d="M10.25 21V15.05L5.09998 18.025L3.34998 15L8.49998 12L3.34998 9.025L5.09998 6L10.25 8.975V3H13.75V8.975L18.9 6L20.65 9.025L15.5 12L20.65 15L18.9 18.025L13.75 15.05V21H10.25Z" fill="white"/>
          </g>
        </svg>
        <p class="ls-16 noto-sans-CJK-TC headings-font-weight">2023.06.30</p>
      </div>
      <h5 class="headings-font-weight mb-12">產品升級公告</h5>
      <div class="d-lg-flex justify-content-between">
        <p class="noto-sans-CJK-TC headings-font-weight">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<br>歡迎您了解本次升級帶來的更為卓越的性能！</p>
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="196" height="24" viewBox="0 0 196 24" fill="none">
          <mask id="mask0_237_5007" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="196" height="24">
            <rect width="196" height="24" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_237_5007)">
            <path d="M183 19L186.425 13H2V11H186.425L183 5L194 12L183 19Z" fill="white"/>
          </g>
        </svg>
      </a>
      </div>

      </div>
      <div class="d-lg-flex">
        <div class="border-top py-40 border-bottom border-lg-end col-lg-6 px-16">
          <div class="d-flex gap-16 mb-8">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_233_4964" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_233_4964)">
              <path d="M10.25 21V15.05L5.09998 18.025L3.34998 15L8.49998 12L3.34998 9.025L5.09998 6L10.25 8.975V3H13.75V8.975L18.9 6L20.65 9.025L15.5 12L20.65 15L18.9 18.025L13.75 15.05V21H10.25Z" fill="white"/>
            </g>
          </svg>
          <p class="ls-16 noto-sans-CJK-TC headings-font-weight">2023.04.18</p>
        </div>
        <h5 class="headings-font-weight mb-12">新功能上線</h5>
        <div>
          <p class="noto-sans-CJK-TC headings-font-weight">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="90" height="24" viewBox="0 0 90 24" fill="none">
            <mask id="mask0_233_4971" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="90" height="24">
              <rect width="90" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_233_4971)">
              <path d="M77 19L80.425 13H2V11H80.425L77 5L88 12L77 19Z" fill="white"/>
            </g>
          </svg>
        </a>
        </div>
        </div>
        <div class="border-top py-40 border-bottom col-lg-6 px-16">
          <div class="d-flex gap-16 mb-8">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_233_4964" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_233_4964)">
              <path d="M10.25 21V15.05L5.09998 18.025L3.34998 15L8.49998 12L3.34998 9.025L5.09998 6L10.25 8.975V3H13.75V8.975L18.9 6L20.65 9.025L15.5 12L20.65 15L18.9 18.025L13.75 15.05V21H10.25Z" fill="white"/>
            </g>
          </svg>
          <p class="ls-16 noto-sans-CJK-TC headings-font-weight">2023.06.30</p>
        </div>
        <h5 class="headings-font-weight mb-12">產品升級公告</h5>
        <div>
          <p class="noto-sans-CJK-TC headings-font-weight">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<br>歡迎您了解本次升級帶來的更為卓越的性能！</p>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="90" height="24" viewBox="0 0 90 24" fill="none">
            <mask id="mask0_233_4971" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="90" height="24">
              <rect width="90" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_233_4971)">
              <path d="M77 19L80.425 13H2V11H80.425L77 5L88 12L77 19Z" fill="white"/>
            </g>
          </svg>
        </a>
        </div>
        </div>
      </div>
    </div>
      <a href="#" class="d-flex justify-content-center pt-130 pb-150 text-light position-relative">
        <p>查看更多</p>
        <img src="/assets/images/home/circle-2.png" alt="see more" class="circle rotate"> 
      </a>
    </div>
    <div class="container d-lg-flex justify-content-end mb-40 d-none">
      <p>為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
    </div>
    <!-- 使用分享 -->
    <div class="radialToDark position-relative overflow-hidden pt-160 pb-40">
      <div class="container">
        <div class="d-lg-flex">
        <div class="col-lg-5">
          <h3 class="ls-48 mb-16">使用分享</h3>
          <div class="d-flex align-items-center text-light mb-40">
            <p>01</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <mask id="mask0_281_5207" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_281_5207)">
                <path d="M4 13V11H20V13H4Z" fill="white"/>
              </g>
            </svg>
            <p>04</p>
          </div>
        </div>
        <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
      </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none" class="my-24">
          <mask id="mask0_256_5041" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="80" height="80">
            <rect width="80" height="80" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_256_5041)">
            <path d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z" fill="white"/>
          </g>
        </svg>
        <!-- swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper d-md-flex d-block">
            <div class="swiper-slide bg-info text-light p-40 d-flex flex-column justify-content-between mb-md-0 mb-24">
              <div>
              <div class="d-flex align-items-center mb-32 gap-8">
                <p>Zona</p>
                <div class="dot-s bg-light"></div>
                <p>Taipei</p>
              </div>
              <p class="noto-sans-CJK-TC">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
            </div>
              <div class="d-flex align-items-center gap-16">
                <div class="dot-l bg-light"></div>
                <div class="dot-l bg-light"></div>
                <p>ALPHABOX+ Dianne</p>
              </div>
            </div>
            <div class="swiper-slide bg-light text-dark p-40 d-flex flex-column justify-content-between mb-md-0 mb-24">
              <div>
              <div class="d-flex align-items-center mb-32 gap-8">
                <p>Lin</p>
                <div class="dot-s bg-dark"></div>
                <p>Chiayi</p>
              </div>
              <p class="noto-sans-CJK-TC">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
              </div>
              <div class="d-flex align-items-center gap-16">
                <div class="dot-l bg-dark"></div>
                <div class="dot-l bg-dark"></div>
                <p>ALPHABOX+ Felix</p>
              </div>
            </div>
            <div class="swiper-slide bg-info text-light p-40 d-flex flex-column justify-content-between mb-md-0 mb-24">
              <div>
              <div class="d-flex align-items-center mb-32 gap-8">
                <p>云</p>
                <div class="dot-s bg-light"></div>
                <p>Taipei</p>
              </div>
              <p class="noto-sans-CJK-TC">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
              </div>
              <div class="d-flex align-items-center gap-16">
                <div class="dot-l bg-light"></div>
                <div class="dot-l bg-light"></div>
                <p>ALPHABOX+ Dianne</p>
              </div>
            </div>
            <div class="swiper-slide bg-light text-dark p-40 d-flex flex-column justify-content-between mb-md-0 mb-24">
              <div>
              <div class="d-flex align-items-center mb-32 gap-8">
                <p>Zichi</p>
                <div class="dot-s bg-dark"></div>
                <p>Kaohsiung</p>
              </div>
              <p class="noto-sans-CJK-TC">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
              </div>
              <div class="d-flex align-items-center gap-16">
                <div class="dot-l bg-dark"></div>
                <div class="dot-l bg-dark"></div>
                <p>ALPHABOX+ Vito</p>
              </div>
            </div>
          </div>
        <div class="swiper-scrollbar d-md-flex align-items-center d-none"><p class="order-2 position-absolute noto-sans-CJK-TC">SCROLL</p></div>
      </div> 
      </div>
      <div class="container">
        <p class="d-none d-md-flex text-light mt-136">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
      </div>
      <!-- 背景字 -->
      <div class="d-flex justify-content-center">
        <div class="watermark fs-lg-128">ALPHABOX+</div>
      </div>
    </div>
    <!-- 聯絡我們 -->
    <div class="bg-warning py-144">
      <div class="container d-md-flex justify-content-between px-0 my-0 mx-auto">
        <div class="col-md-5">
          <h3 class="ls-48 mb-20">聯絡我們</h3>
          <div class="d-flex gap-8 mb-54">
            <div class="dot-m bg-light"></div>
            <div class="line bg-light"></div>
          </div>
          <p class="mb-4">讓科技成為您的最佳夥伴</p>
          <p>立即體驗神奇功能並享限時優惠！</p>
        </div>
        <div class="col-md-7 mt-24 mt-md-0">
          <span class="material-icons text-light fs-80 mb-16">
            emergency
            </span>
          <form>
            <div class="form-floating">
              <input type="email" class="form-control bg-light text-dark d-block noto-sans-CJK-TC mb-16 py-8 pt-24" id="emailInput" placeholder="EMAIL">
              <label for="emailInput" class="noto-sans-CJK-TC text-dark">EMAIL</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control bg-light text-dark d-block noto-sans-CJK-TC text-warning mb-16 pt-40 pb-82" id="commentInput" placeholder="COMMENTS">
              <label for="commentInput" class="noto-sans-CJK-TC text-dark">COMMENT</label>
            </div>
            <button type="button" class="col-md-4 col-12 bg-success text-light"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <mask id="mask0_464_3402" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_464_3402)">
                <path d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z" fill="white"/>
              </g>
            </svg>送出</button>
          </form>
        </div>
      </div>
    </div>
    <!-- 類型 -->
    <ol class="list-unstyled d-flex flex-wrap m-0">
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-1 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">1</span>
            Diane
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">知識型</h5>
              <p class="mb-0">學術領導/知識分享/智能問答</p>
            </div>
            <svg class="d-md-flex d-none" xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
              <mask id="mask0_2884_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                <rect width="155" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_2884_6)">
                <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"/>
              </g>
            </svg>
            <svg class="d-flex d-md-none" xmlns="http://www.w3.org/2000/svg" width="80" height="24" viewBox="0 0 155 24" fill="none">
              <mask id="mask0_2884_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                <rect width="155" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_2884_6)">
                <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"/>
              </g>
            </svg>
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-2 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">2</span>
            Felix
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">娛樂型</h5>
              <p class="mb-0">音樂播放/語音互動/遊戲陪伴</p>
            </div>
            <svg class="d-md-flex d-none" xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
              <mask id="mask0_2884_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                <rect width="155" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_2884_6)">
                <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"/>
              </g>
            </svg>
            <svg class="d-flex d-md-none" xmlns="http://www.w3.org/2000/svg" width="80" height="24" viewBox="0 0 155 24" fill="none">
              <mask id="mask0_2884_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                <rect width="155" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_2884_6)">
                <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"/>
              </g>
            </svg>
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-3 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">3</span>
            Karina
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">生活型</h5>
              <p class="mb-0">健康提醒/日程安排/智能家居</p>
            </div>
            <svg class="d-md-flex d-none" xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
              <mask id="mask0_2884_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                <rect width="155" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_2884_6)">
                <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"/>
              </g>
            </svg>
            <svg class="d-flex d-md-none" xmlns="http://www.w3.org/2000/svg" width="80" height="24" viewBox="0 0 155 24" fill="none">
              <mask id="mask0_2884_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                <rect width="155" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_2884_6)">
                <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"/>
              </g>
            </svg>
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-4 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">4</span>
            Vito
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">情感型</h5>
              <p class="mb-0">情感識別/心情分析/心靈支持</p>
            </div>
            <svg class="d-md-flex d-none" xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
              <mask id="mask0_2884_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                <rect width="155" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_2884_6)">
                <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"/>
              </g>
            </svg>
            <svg class="d-flex d-md-none" xmlns="http://www.w3.org/2000/svg" width="80" height="24" viewBox="0 0 155 24" fill="none">
              <mask id="mask0_2884_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                <rect width="155" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_2884_6)">
                <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"/>
              </g>
            </svg>
          </div>
        </a>
      </li>
    </ol>
    <%- include('./layout/footer'); -%>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
