<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <%- include('./layout/link'); -%>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <!-- header --> 
    <!-- 介紹 -->
    <!-- 最新消息 -->
    <!-- 使用分享 -->
    <div class="radial position-relative overflow-hidden pt-160 pb-40">
      <div class="container">
        <div class="d-lg-flex">
        <div class="col-lg-5">
          <h3 class="ls-48 mb-16">使用分享</h3>
          <div class="d-flex align-items-center text-light mb-40">
            <p>01</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <mask id="mask0_281_5207" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_281_5207)">
                <path d="M4 13V11H20V13H4Z" fill="white"/>
              </g>
            </svg>
            <p>04</p>
          </div>
        </div>
        <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
      </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none" class="my-24">
          <mask id="mask0_256_5041" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="80" height="80">
            <rect width="80" height="80" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_256_5041)">
            <path d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z" fill="white"/>
          </g>
        </svg>
        <!-- swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide bg-info text-light p-40 d-flex flex-column justify-content-between">
              <div>
              <div class="d-flex align-items-center mb-32 gap-8">
                <p>Zona</p>
                <div class="dot-s bg-light"></div>
                <p>Taipei</p>
              </div>
              <p class="noto-sans-CJK-TC">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
            </div>
              <div class="d-flex align-items-center gap-16">
                <div class="dot-l bg-light"></div>
                <div class="dot-l bg-light"></div>
                <p>ALPHABOX+ Dianne</p>
              </div>
            </div>
            <div class="swiper-slide bg-light text-dark p-40 d-flex flex-column justify-content-between">
              <div>
              <div class="d-flex align-items-center mb-32 gap-8">
                <p>Lin</p>
                <div class="dot-s bg-dark"></div>
                <p>Chiayi</p>
              </div>
              <p class="noto-sans-CJK-TC">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
              </div>
              <div class="d-flex align-items-center gap-16">
                <div class="dot-l bg-dark"></div>
                <div class="dot-l bg-dark"></div>
                <p>ALPHABOX+ Felix</p>
              </div>
            </div>
            <div class="swiper-slide bg-info text-light p-40 d-flex flex-column justify-content-between">
              <div>
              <div class="d-flex align-items-center mb-32 gap-8">
                <p>云</p>
                <div class="dot-s bg-light"></div>
                <p>Taipei</p>
              </div>
              <p class="noto-sans-CJK-TC">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
              </div>
              <div class="d-flex align-items-center gap-16">
                <div class="dot-l bg-light"></div>
                <div class="dot-l bg-light"></div>
                <p>ALPHABOX+ Dianne</p>
              </div>
            </div>
            <div class="swiper-slide bg-light text-dark p-40 d-flex flex-column justify-content-between">
              <div>
              <div class="d-flex align-items-center mb-32 gap-8">
                <p>Zichi</p>
                <div class="dot-s bg-dark"></div>
                <p>Kaohsiung</p>
              </div>
              <p class="noto-sans-CJK-TC">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
              </div>
              <div class="d-flex align-items-center gap-16">
                <div class="dot-l bg-dark"></div>
                <div class="dot-l bg-dark"></div>
                <p>ALPHABOX+ Vito</p>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
        <p class="text-light mt-136">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
      </div>
      <!-- 背景字 -->
      <div class="d-flex justify-content-center">
        <div class="watermark fs-lg-128">ALPHABOX+</div>
      </div>
    </div>
    <!-- 聯絡我們 -->
    <div class="bg-warning py-144">
      <div class="container d-md-flex justify-content-between px-0 my-0 mx-auto">
        <div class="col-md-5">
          <h3 class="ls-48 mb-20">聯絡我們</h3>
          <div class="d-flex gap-8 mb-54">
            <div class="dot-m bg-light"></div>
            <div class="line bg-light"></div>
          </div>
          <p class="mb-4">讓科技成為您的最佳夥伴</p>
          <p>立即體驗神奇功能並享限時優惠！</p>
        </div>
        <div class="col-md-7 mt-24 mt-md-0">
          <span class="material-icons text-light fs-80 mb-16">
            emergency
            </span>
          <form>
            <input type="email" class="d-block noto-sans-CJK-TC mb-16 py-8" placeholder="EMAIL">
            <input type="text" class="d-block noto-sans-CJK-TC text-warning mb-16 pt-8 pb-82" placeholder="COMMENTS">
            <button type="button" class="col-md-4 col-12 bg-success text-light"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <mask id="mask0_464_3402" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_464_3402)">
                <path d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z" fill="white"/>
              </g>
            </svg>送出</button>
          </form>
        </div>
      </div>
    </div>
    <!-- 類型 -->
    <ol class="list-unstyled d-flex flex-wrap m-0">
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-1 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">1</span>
            Diane
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">知識型</h5>
              <p class="mb-0">學術領導/知識分享/智能問答</p>
            </div>
            <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-2 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">2</span>
            Vito
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">情感型</h5>
              <p class="mb-0">情感識別/心情分析/心靈支持</p>
            </div>
            <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-3 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">3</span>
            Vito
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">情感型</h5>
              <p class="mb-0">情感識別/心情分析/心靈支持</p>
            </div>
            <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="#" class="card card-4 border-0 rounded-0">
          <h4 class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="saira fs-m fs-md-l fw-light mb-16 mb-md-20">4</span>
            Vito
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">情感型</h5>
              <p class="mb-0">情感識別/心情分析/心靈支持</p>
            </div>
            <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
          </div>
        </a>
      </li>
    </ol>
    <%- include('./layout/footer'); -%>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
