<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ - news - 產品升級公告</title>
    <%- include('./layout/link'); -%>
</head>

<body>
    <%- include('./layout/nav'); -%>
        <!-- about banner -->
        <div class="radialToLight pt-60 pb-80 pt-md-160">
            <div class="container">
                <h2 class="fw-black fs-3 py-32 my-md-32 noto-sans-CJK-TC ls-48 text-start text-md-center">最新消息</h2>
                <div class="row w-100 mx-auto gy-40 gy-md-0">
                    <div class="col-12 col-md-4 px-0 pe-md-24">
                        <div class="d-flex flex-column">
                            <a href="./news.html" class="d-flex align-items-center text-light mb-8"><span
                                    class="material-symbols-outlined fs-40 text-light">
                                    arrow_insert
                                </span>返回</a>
                            <img src="../assets/images/news/news.png" class="img-fluid d-md-block d-none" style="min-height: 600px; object-fit: cover;" alt="產品升級公告">
                            <img src="../assets/images/news/news.png" class="img-fluid d-block d-md-none" style="min-height: 506px; object-fit: cover;" alt="產品升級公告">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 px-0">
                        <div class="d-flex flex-column gap-24">
                            <div class="d-flex flex-column gap-12 px-16 py-24 py-md-40 border-top border-bottom">
                                <div>
                                    <time class="ls-16 d-flex align-items-center gap-16 text-light">
                                        <span class="material-icons fs-8">
                                            emergency
                                        </span>
                                        2023.06.30
                                    </time>
                                    <h3 class="fs-5 pt-8 ls-20 noto-sans-CJK-TC text-light fw-medium">產品升級公告</h3>
                                </div>
                                <p>親愛的客戶們：</p>
                                <p>我們榮幸地向您宣布，經過不懈的努力與研發，ALPHABOX+
                                    已成功完成最新一代的升級！這次的升級將為您帶來更高的投影解析度、更精準的語音辨識技術，以及更豐富的情感識別功能。我們致力於為您打造最佳的陪伴機器人，讓科技更貼近您的生活。
                                </p>
                                <p>在這次升級中，我們提升了投影解析度，讓影像更加清晰細緻，呈現出更真實的視覺效果。您將能夠更加享受在家中觀看高清影片或欣賞美景的樂趣。同時，我們優化了語音辨識技術，使機器人能更迅速且準確地識別您的聲音指令，提高互動體驗。
                                </p>
                                <p>此外，我們增加了情感識別功能，使得機器人能更好地理解您的情緒，並根據您的需求提供適當的陪伴與支持。無論您需要傾聽、建議還是安慰，ALPHABOX+
                                    都將成為您身邊的貼心夥伴。</p>
                                <p>為感謝您一直以來對我們的支持，我們將在本月舉辦限時優惠活動，凡購買升級版3D立體投影陪伴機器人的客戶，均可享有九折優惠。機會難得，千萬不要錯過喔！</p>
                                <p>在未來的日子裡，我們將繼續投入研發，並積極採納用戶意見，以不斷完善產品功能並提高使用體驗。同時，我們承諾會為您提供優質的售後服務，確保您在購買與使用過程中得到全面支持。
                                </p>
                                <p>再次感謝您對我們的信任與支持，讓我們攜手共創更美好的未來！若您對升級版3D立體投影陪伴機器人有任何疑問或建議，請隨時與我們的客服團隊聯繫，我們將竭誠為您解答。</p>
                                <p>敬祝 興旺發達！</p>
                                <p>ALPHABOX+ 團隊敬上 </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <a href="" class="btn d-flex flex-column p-0">
                                    <svg width="155" height="24" viewBox="0 0 155 24">
                                        <mask id="mask0_364_6371" style="mask-type:alpha" maskUnits="userSpaceOnUse"
                                            x="0" y="0" width="155" height="24">
                                            <rect x="155" y="24" width="155" height="24" transform="rotate(-180 155 24)"
                                                />
                                        </mask>
                                        <g mask="url(#mask0_364_6371)">
                                            <path d="M13 4.99999L9.575 11L153 11L153 13L9.575 13L13 19L2 12L13 4.99999Z"
                                                />
                                        </g>
                                    </svg>

                                    <span class="d-md-block d-none fs-7 ls-14 text-light">限時優惠活動</span>
                                    <span class="d-md-none d-block fs-7 text-start">上一則</span>
                                </a>
                                <a href="" class="btn p-0">
                                    <svg width="155" height="24" viewBox="0 0 155 24">
                                        <mask id="mask0_456_660" style="mask-type:alpha" maskUnits="userSpaceOnUse"
                                            x="0" y="0" width="155" height="24">
                                            <rect width="155" height="24" fill="#828282" />
                                        </mask>
                                        <g mask="url(#mask0_456_660)">
                                            <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z"
                                                fill="#828282" />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>