<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ - news</title>
    <%- include('./layout/link'); -%>
</head>

<body>
    <%- include('./layout/nav'); -%>
        <!-- about banner -->
        <div class="radialToLight pt-60 pb-80 pt-md-160">
            <div class="container">
                <h2 class="fw-black fs-3 py-32 my-md-32 noto-sans-CJK-TC ls-48 text-start text-md-center">最新消息</h2>
                <div class="d-flex flex-column gap-40 gap-md-60">
                    <div class="w-100 row justify-content-center gx-0 gx-md-48">
                        <div class="col-12 col-lg-3 d-flex align-items-center">
                            <span class="saira fs-96 text-light me-md-auto me-16">1</span>
                            <img src="../assets/images/news/news.png" style="height: 226px;" class="d-none d-md-block"
                                alt="產品升級公告">
                            <img src="../assets/images/news/news_in.png" style="height: 108px; object-fit: cover;"
                                class="d-block d-md-none w-100" alt="產品升級公告">
                        </div>
                        <div class="col-12 col-lg-6 border-top border-bottom border-light py-24 py-md-40 px-16"
                            style="max-width: 636px;">
                            <time class="ls-16 d-flex align-items-center gap-16 text-light">
                                <span class="material-icons fs-8">
                                    emergency
                                </span>
                                2023.06.30
                            </time>
                            <h3 class="fs-5 pt-8 ls-20 noto-sans-CJK-TC text-light fw-medium">產品升級公告</h3>
                            <p class="noto-sans-CJK-TC mt-12 text-light">榮幸地宣布，ALPHABOX+
                                已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
                        </div>
                        <div class="col-12 col-lg-1 align-self-end mt-16">
                            <a href="./news-content.html" class="text-light p-0 col-1 text-start ms-auto d-block ms-md-0">
                                <span class="material-symbols-outlined fs-40">
                                    arrow_forward
                                </span>
                            </a>
                        </div>

                    </div>
                    <div class="w-100 row justify-content-center gx-0 gx-md-48">
                        <div class="col-12 col-lg-3 d-flex align-items-center">
                            <span class="saira fs-96 text-light me-md-auto me-16">2</span>
                            <img src="../assets/images/news/thanks.png" style="height: 226px;" class="d-none d-md-block"
                                alt="限時優惠活動">
                            <img src="../assets/images/news/thanks.png" style="height: 108px; object-fit: cover;"
                                class="d-block d-md-none w-100" alt="限時優惠活動">
                        </div>
                        <div class="col-12 col-lg-6 border-top border-bottom border-light py-24 py-md-40 px-16"
                            style="max-width: 636px;">
                            <time class="ls-16 d-flex align-items-center gap-16 text-light">
                                <span class="material-icons fs-8">
                                    emergency
                                </span>
                                2023.06.01
                            </time>
                            <h3 class="fs-5 pt-8 ls-20 noto-sans-CJK-TC text-light fw-medium">限時優惠活動</h3>
                            <p class="noto-sans-CJK-TC mt-12 text-light">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。購買 ALPHABOX+
                                的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！本月將舉辦一場限時優惠活動。購買 ALPHABOX+ 的顧客，皆可享受九折優惠。</p>
                        </div>
                        <div class="col-12 col-lg-1 align-self-end mt-16">
                            <a href="" class="text-light p-0 col-1 text-start ms-auto d-block ms-md-0">
                                <span class="material-symbols-outlined fs-40">
                                    arrow_forward
                                </span>
                            </a>
                        </div>

                    </div>
                    <div class="w-100 row justify-content-center gx-0 gx-md-48">
                        <div class="col-12 col-lg-3 d-flex align-items-center">
                            <span class="saira fs-96 text-light me-md-auto me-16">3</span>
                            <img src="../assets/images/news/exhibition.png" style="height: 226px;"
                                class="d-none d-md-block" alt="參加科技展覽">
                            <img src="../assets/images/news/exhibition.png" style="height: 108px; object-fit: cover;"
                                class="d-block d-md-none w-100" alt="參加科技展覽">
                        </div>
                        <div class="col-12 col-lg-6 border-top border-bottom border-light py-24 py-md-40 px-16"
                            style="max-width: 636px;">
                            <time class="ls-16 d-flex align-items-center gap-16 text-light">
                                <span class="material-icons fs-8">
                                    emergency
                                </span>
                                2023.06.30
                            </time>
                            <h3 class="fs-5 pt-8 ls-20 noto-sans-CJK-TC text-light fw-medium">參加科技展覽</h3>
                            <p class="noto-sans-CJK-TC mt-12 text-light">
                                本公司將參與今年的台灣國際科技展覽，屆時將展示最新款的3D立體陪伴機器人。誠摯邀請您親臨現場，親自體驗這款創新的產品！屆時將展示最新款的3D立體陪伴機器人。誠摯邀請您親臨現場，親自體驗這款創新的產品！
                            </p>
                        </div>
                        <div class="col-12 col-lg-1 align-self-end mt-16">
                            <a href="" class="text-light p-0 col-1 text-start ms-auto d-block ms-md-0">
                                <span class="material-symbols-outlined fs-40">
                                    arrow_forward
                                </span>
                            </a>
                        </div>

                    </div>
                    <div class="w-100 row justify-content-center gx-0 gx-md-48">
                        <div class="col-12 col-lg-3 d-flex align-items-center">
                            <span class="saira fs-96 text-light me-md-auto me-16">4</span>
                            <img src="../assets/images/news/update.png" style="height: 226px;" class="d-none d-md-block"
                                alt="新功能上線">
                            <img src="../assets/images/news/update.png" style="height: 108px; object-fit: cover;"
                                class="d-block d-md-none w-100" alt="新功能上線">
                        </div>
                        <div class="col-12 col-lg-6 border-top border-bottom border-light py-24 py-md-40 px-16"
                            style="max-width: 636px;">
                            <time class="ls-16 d-flex align-items-center gap-16 text-light">
                                <span class="material-icons fs-8">
                                    emergency
                                </span>
                                2023.06.30
                            </time>
                            <h3 class="fs-5 pt-8 ls-20 noto-sans-CJK-TC text-light fw-medium">新功能上線</h3>
                            <p class="noto-sans-CJK-TC mt-12 text-light">
                                為使您的3D立體陪伴機器人更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。近期，我們新推出智慧家居控制功能。
                            </p>
                        </div>
                        <div class="col-12 col-lg-1 align-self-end mt-16">
                            <a href="" class="text-light p-0 col-1 text-start ms-auto d-block ms-md-0">
                                <span class="material-symbols-outlined fs-40">
                                    arrow_forward
                                </span>
                            </a>
                        </div>

                    </div>
                    <div class="w-100 row justify-content-center gx-0 gx-md-48">
                        <div class="col-12 col-lg-3 d-flex align-items-center">
                            <span class="saira fs-96 text-light me-md-auto me-16">5</span>
                            <img src="../assets/images/news/interview.png" style="height: 226px;"
                                class="d-none d-md-block" alt="用戶見面會">
                            <img src="../assets/images/news/interview.png" style="height: 108px; object-fit: cover;"
                                class="d-block d-md-none w-100" alt="用戶見面會">
                        </div>
                        <div class="col-12 col-lg-6 border-top border-bottom border-light py-24 py-md-40 px-16"
                            style="max-width: 636px;">
                            <time class="ls-16 d-flex align-items-center gap-16 text-light">
                                <span class="material-icons fs-8">
                                    emergency
                                </span>
                                2023.06.30
                            </time>
                            <h3 class="fs-5 pt-8 ls-20 noto-sans-CJK-TC text-light fw-medium">用戶見面會</h3>
                            <p class="noto-sans-CJK-TC mt-12 text-light">
                                為進一步滿足客戶需求，並優化產品性能，我們將舉行用戶見面會。屆時，我們將向您展示我們的研發成果，同時聆聽您的意見和建議，讓我們共同打造更完美的產品！同時聆聽您的意見和建議！
                            </p>
                        </div>
                        <div class="col-12 col-lg-1 align-self-end mt-16">
                            <a href="" class="text-light p-0 col-1 text-start ms-auto d-block ms-md-0">
                                <span class="material-symbols-outlined fs-40">
                                    arrow_forward
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mt-40 mt-md-80">
                        <li class="page-item px-16"><a class="page-link px-0 saira border-0 active" href="#">1</a></li>
                        <li class="page-item px-16"><a class="page-link px-0 saira border-0" href="#">2</a></li>
                        <li class="page-item px-16"><a class="page-link px-0 saira border-0" href="#">3</a></li>
                    </ul>
                </nav>
            </div>


        </div>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>